{#
/**
 * @file
 * Sample paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<div class="block">
  <h3>{{ content.field_sample_title }}</h3>
  <p>{{ content.field_sample_text }}</p>
  {% for key, item in content.field_sample_link if key|first != '#' %}
    <a href="{{ content.field_sample_link[key]['#url'] }}" {% if content.field_sample_link[key]['#options'].attributes.target %} target="{{ content.field_sample_link[key]['#options'].attributes.target }}" {% endif %}>
      {{ content.field_sample_link[key]['#title'] }}
    </a>
  {% endfor %}
  {{ content|without('field_sample_title', 'field_sample_text', 'field_sample_link') }}
</div>
